
<% if (locals.waifu) { %>
    <% waifu.forEach((element) => { %>
    <img src="<%= element.url %>" class="image" alt="Anime waifu" >
    <% }); %>
<% } %>
<% if (locals.error) { %>
    <h3 class="text">
        <%= error %> 
    </h3>
    <% } %>